.btnStartStop {
    -ms-background-size: cover;
    background-size: cover;
    border: 0;
    background-color: transparent;
}

.btnStartStop:disabled{
    background-image: url(./img/disable.png) !important;
}

.btnStartStop-imgStart {
  background-image: url(./img/play.png);
}

.btnStartStop-imgStop {
    background-image: url(./img/stop.png);
}

